form{
    margin-top:15px;
    width: 100%;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    padding: 8px;
}
.erro{
    position: absolute !important;
    right: 0;
}
.conteudo{
    position: absolute;
    bottom: 0;
}
.cardbusca{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search{
    position: absolute;
    bottom: 7px;
    left:28%;
    cursor: pointer
}